#main-navbar {
  background:rgba(153,204,153, 0.4); /* 40% opacity*/

  /* slow transition*/
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

#passage {
  margin: 0px 0px 0px 50% ;
}



mark {
  background-color: rgba(255,255,255, .7);
  
}

#main-word {
 color: rgba(0,0,0,0.7);
}

.main-buttons{  
  opacity: 0.8;
  letter-spacing: 1px;
  background-color: rgba(255,255,255,0.1) ;

  text-transform: uppercase;

}


#first-button {   
  border: 2px solid #7BAECB ;
}

#second-button {  
  
  border: 2px solid #F8DE00 ;
}


#third-button {    
   border: 2px solid #99CC99 ;
}

.main-buttons button a:hover {
  background-color: rgba(255,255,255,0.6)  !important ;
  background-image:none !important ;
}

#year-nav {
  background-color: #00A8E6; 
  opacity: 0.60;
  
}

#year-nav  li a  {
  color: white;
    
}

#year-nav li.uk-active a, #year-nav li:hover a  {  
  background-color: rgba(153,204,153,0.45);    
}


#year-nav li.uk-active  a  p   {
 color: white;  
 opacity: 1;
}

#someDiv{
    
}


